# YouTube Data API v3
YT_API_KEY=
VIDEO_IDS=id1,id2

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# MongoDB
MONGO_URI=
DB_NAME=youtube_sentiment
COLLECTION_NAME=comments

# YTVideo stream server
PORT=5000
